.reset form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px auto auto 30px;
}

.reset form div label{
    font-size: 20px ;
    color: #c4f9ae;
    font-family: 'Changa' , light;
}

.reset form div input{
    background: none;
    border: none;
    border: 2px solid #c4f9ae;
    padding: 10px;
    border-radius: 10px;
    margin-top: 6px;
    width: 400px;
    color: white;
}
.reset header h2{
    text-transform: uppercase;
    color: black;
    font-family: Avengero;
    font-size: 28px;
}
.reset header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.reset header img{
    width: 60px;
    height: 60px;
    position: relative;
    bottom: 14px;
    left: 10px;
}

.reset .submit{
    border: none;
    background-color: black;
    color:#c4f9ae;
    font-family: 'Changa' , medium;
    padding: 5px 25px;
    border-radius: 25px;
    font-size: 23px;
    transition: all 0.5s ease;
    font-weight: 500;
    position: relative;
    left:130px;
    top:20px;
}


@font-face {
    font-family: Avengero ;
    src: url('../../Assets/fonts/Avengero\ Regular\ 400.ttf');
}